<footer>
    <h5>2021, created by Mattia Devigus</h5>
    <div class="container">
        <a target="_blank" href="https://github.com/mattiadevigus/vtracker2"><i class="fab fa-github fa-2x"></i></a>
        <a target="_blank" href="https://discordapp.com/users/370175351537532929"><i class="fab fa-discord fa-2x"></i></a>
        <a target="_blank" href="https://paypal.me/mattiadevigus?locale.x=it_IT"><i class="fab fa-paypal fa-2x"></i></a>
    </div>
</footer>